<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= @post.content %>
      </p>
      <div>
        <%= link_to "reply", "javascript:void(0)", class: "comment-trigger" %>
        <% if current_or_guest_user.id == @post.user_id %>
          <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want delete this post"} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render @post.comments  %>
    </div>
  </div>
  <div class="row new-comment hidden">
    <div class="col-md-9">
      <%= render partial: "comments/comment_form", locals: {post: @post, parent: nil} %>
    </div>
  </div>
</div>
