<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <% flash.each do |flash| %>
      <div class="container-fluid">
        <div class="col-md-12 <%= flash[0] %>">
          <h2 class=" text-center">
            <%= flash[1] %>
          </h2>
        </div>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
